<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EnactusHacks</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/new-design.css" rel="stylesheet">

</head>

<body>

  <%- include partials/nav.ejs %>

  <header>
    <div class=" formhead map text-center ">
      <img class="logo-s" src="img/enactushacks_logo_transparent.png">
      <h1 class="light-enactus">SIGN UP</h1>
      <img class="squares" src="img/squares.png">
    </div>
  </header>
  <div class=" container form-box-straight">
    <div class="row">
      <div class="col-md-8 my-2 mx-auto">
        <!-- check if there's any error messages and display them -->
        <% if(locals.error) { %>
        </br>
        <div class="alert alert-danger" role="alert">
          <% if(errors.length === 1) { %>
          <strong>There was an issue with your registration. Please fix it, re-enter your password and try again.</strong>
          <br><br>
          <%= errors %>
          <% } else { %>
          <strong>There were some issues with your registration. Please fix them, re-enter your password and try again.</strong>
          <br><br>
          <% errors.forEach(error => { %>
          <%= error %>
          <br>
          <% })} %>
        </div>
        <% } %>
        <!-- End -->

        <form action="/apply" method="POST">
          <h2 class="text-purple">Let's get to know you!</h2>
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="first_name" class="form-control" value="<%= user.first_name %>">
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="last_name" class="form-control" value="<%= user.last_name %>">
          </div>
          <div class="form-group">
            <label>City:</label>
            <input type="text" name="city" class="form-control value=" value="<%= user.city %>">
          </div>
          <div class="form-group">
            <label>T-shirt size:</label>
            <select id="myList" name="shirt_size">
              <% if(!locals.user.shirt_size) {%><option selected disabled>Choose</option><%}%>
              <option <% if(locals.user.xs) {%> selected <%}%> value="xs">Extra Small</option>
              <option <% if(locals.user.s) {%> selected <%}%> value="s">Small</option>
              <option <% if(locals.user.m) {%> selected <%}%> value="m">Medium</option>
              <option <% if(locals.user.l) {%> selected <%}%> value="l">Large</option>
              <option <% if(locals.user.xl) {%> selected <%}%> value="xl">Extra-large</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label>Indentified Gender:</label>
              <select id="genderList" name="gender">
                <% if(!locals.user.gender) {%><option selected disabled>Choose</option><%}%>
                <option <% if(locals.user.female) {%> selected <%}%> value="female">Female</option>
                <option <% if(locals.user.male) {%> selected <%}%> value="male">Male</option>
                <option <% if(locals.user.other) {%> selected <%}%> value="other">Other</option>
                <option <% if(locals.user.na) {%> selected <%}%> value="na">Prefer not to say</option>
              </select>
            </div>
            <br>
            <hr class="enactus">
            <br>
            <h2 class="text-purple">Some technical details...</h2>
            <div class="form-group">
              <label>Email:</label>
              <input type="Email" name="email" class="form-control" value="<%= user.email %>">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control">
          </div>
          <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" name="password_match" class="form-control">
          </div>
          <br>
          <hr class="enactus">
          <br>
          <h2 class="text-purple">Your education?</h2>
          <div class="form-group">
            <label>University:</label>
            <input type="text" name="university" class="form-control" value="<%= user.university %>">
          </div>
          <div class="form-group">
            <label>Major:</label>
            <input type="text" name="major" class="form-control" value="<%= user.major %>">
          </div>
          <div class="form-group">
            <label>Program:</label>
            <input type="text" name="program" class="form-control" value="<%= user.program %>">
          </div>
          <div class="form-group">
          <label>Field of study:</label>
          <select class="form-group" id="myList" name="is_stem">
            <% if(!locals.user.is_stem) {%><option selected disabled>Choose</option><%}%>
              <option <% if(locals.user.stem) {%> selected <%}%> value="stem">STEM</option>
              <option <% if(locals.user.non_stem) {%> selected <%}%> value="non_stem">Non-STEM</option>
              <option <% if(locals.user.both) {%> selected <%}%> value="both">Both</option>
            </select>
          </div>
          <div class="form-group">
            <label>Graduation Year:</label>
            <input type="number" name="grad_year" class="form-control" value="<%= user.grad_year %>">
            </br>
            <div class="form-group">
              <label>Link to Resume:</label>
              <input type="text" name="resume" class="form-control" value="<%= user.resume %>">
            </div>
          </div>
          <h2 class="text-purple">Application Questions</h2>
          <div class="form-group">
            <div class="form-group">
              <label>Question 1</label>
              <textarea name="question1" class="form-control"><%=user.question1%></textarea>
            </div>
            <div class="form-group">
              <label>Question 2</label>
              <textarea name="question2" class="form-control"><%=user.question2%></textarea>
            </div>
            <div class="form-group">
              <label>Question 3</label>
              <textarea name="question3" class="form-control"><%=user.question3%></textarea>
            </div>
          </div>


          <button type="submit" class="btn text-white btn-enactus">Submit</button>
        </form>
        <br>
      </div>
    </div>
  </div>

  <%- include partials/nav.ejs %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>
