<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 ,user-scalable=no shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EnactusHacks</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/new-design.css" rel="stylesheet">

</head>
<div class="navigation">
  <%- include('partials/nav.ejs') %>
</div>

  <body >
       <img class="right" src="img/right.png">
     </br>
<br>
       <h1 class="sleek-heading lr-5">Application Status</h1>
       <br>
       <h2 class="sleek-subheading lr-5">Hello <%=user.first_name%>,</h2>
       <h2 class="sleek-text lr-5">The status of your application is:</h2>
       <h2 class="sleek-text lr-5 purple-text"><%=user.application_status%>.</h2>


<!--  <div class="container form-box-straight col-6 ">-->

<!--    <div class="row ">-->

<!--      <div class=" col-11 my-5 mx-auto">-->
<!--        <h1 class="sleek-large-row-header purple-text">Application Status</h1>-->
<!--        <br>-->
<!--        <h1 class="sleek-row-text">Hello <%=user.first_name%>,</h1>-->
<!--        <p>The status of your application is: <strong><%=user.application_status%></strong>.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->

  </body>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>





</html>
