<% include partials/header %>
<% include partials/nav %>

<div class="enactus">
  <br>
  <br>
  <br>
  <br>

  <div class=" py-5 container form-box">
    <div class="row">
      <div class="col-md-8 my-2 mx-auto">
        <br>
        <h1 class="text-purple text-center">Register for EnactusHacks</h1>
        <hr>

        <!-- check if there's any error messages and display them -->
        <% if(locals.errors) { %>
        <div class="alert alert-danger" role="alert">
          <% if(errors.length === 1) { %>
            <strong>There was an issue with your registration. Please fix it, re-enter your password and try again.</strong>
            <br><br>
            <%= errors %>
          <% } else { %>
            <strong>There were some issues with your registration. Please fix them, re-enter your password and try again.</strong>
            <br><br>
            <% errors.forEach(error => { %>
            <%= error %>
            <br>
            <% })} %>
        </div>
        <% } %>
        <!-- End -->

        <br>
        <!-- value atributes allow us to send all the submitted data back to the form in case
              a user missing a required field, etc. This saves them from having to fill out
              the entire form again -->
        <!-- TODO (Jeff): Add this feature for the dropdowns -->
        <form class="" method="POST" action="/register">
          <h2 class="text-enactus">Let's get to know you!</h2>
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="first_name" class="form-control" value="<%= user.first_name %>">
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="last_name" class="form-control" value="<%= user.last_name %>">
          </div>
          <div class="form-group">
            <label>City:</label>
            <input type="text" name="city" class="form-control" value="<%= user.city %>">
          </div>
          <div class="form-group">
            <label>T-shirt size:</label>
            <br>
            <select name="shirt_size">
              <option value="s">Small</option>
              <option value="m">Medium</option>
              <option value="l">Large</option>
              <option value="xl">Extra-large</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label>Indentified Gender:</label>
              <br>
              <select name="gender">
                <option value="m">Female</option>
                <option value="f">Male</option>
                <option value="nb">Non-Binary</option>
                <option value="na">Other</option>
              </select>
            </div>
            <br>
            <hr>
            <br>
            <h2 class="text-enactus">Some technical details...</h2>
            <div class="form-group">
              <label>Email:</label>
              <input type="Email" name="email" class="form-control" value="<%= user.email %>">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
              <label>Confirm Password:</label>
              <input type="password" name="passwordMatch" class="form-control">
            </div>
            <br>
            <hr>
            <br>
            <h2 class="text-enactus">Your education?</h2>
            <div class="form-group">
              <label>University:</label>
              <input type="text" name="university" class="form-control" value="<%= user.university %>">
            </div>
            <div class="form-group">
              <label>Major:</label>
              <input type="text" name="major" class="form-control" value="<%= user.major %>">
            </div>
            <div class="form-group">
              <label>Program:</label>
              <input type="text" name="program" class="form-control" value="<%= user.program %>">
            </div>
            <div class="form-group">
              <label>Field of study:</label>
              <br>
              <select name="is_stem">
                <option value="stem">STEM</option>
                <option value="non_stem">Non-STEM</option>
                <option value="both">Both</option>
              </select>
            </div>
            <div class="form-group">
              <label>Graduation Year:</label>
              <input type="month" name="grad_year" class="form-control" value="<%=user.grad_year %>">
            </div>

            <label>Resume:</label>
            <input type="text" name="resume" class="form-control" value="<%= user.resume %>">
          </div>

          <button type="submit" class="btn text-white btn-enactus">Submit</button>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
